<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Cube Interface</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSCubeInterfacePlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cube Interface</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>82A</string>
	<key>QSDefaults</key>
	<dict>
		<key>interface.backdropColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgCDzcwMP4Y=
		</data>
		<key>interface.borderColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZoM/AAAAgz51wo+G
		</data>
		<key>interface.borderWidth</key>
		<string>1.5</string>
		<key>interface.bottomColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>interface.glassColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmgz97h8cBgz98pdaDPkKPXIY=
		</data>
		<key>interface.glassType</key>
		<integer>3</integer>
		<key>interface.shadowBlur</key>
		<string>10</string>
		<key>interface.shadowColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgCDPhmZmoY=
		</data>
		<key>interface.shadowDirection</key>
		<real>180</real>
		<key>interface.shadowDistance</key>
		<string>4</string>
		<key>interface.shadowSize</key>
		<string>0</string>
		<key>interface.textColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAAAAAYY=
		</data>
		<key>interface.topColor</key>
		<data>
		BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZoM/QAAAAYY=
		</data>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Interfaces</string>
		</array>
		<key>description</key>
		<string>Cube Interface</string>
		<key>extendedDescription</key>
		<string>A rotating cube interface with a variety of &lt;a href="qs://preferences#QSCubeInterfacePrefPane"&gt;options&lt;/a&gt;</string>
		<key>icon</key>
		<string></string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSCommandInterfaceControllers</key>
		<dict>
			<key>QSCubeInterface</key>
			<string>QSCubeInterface</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSCubeInterfacePrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Cube Interface preferences</string>
				<key>icon</key>
				<string>Quicksilver</string>
				<key>name</key>
				<string>Cube Interface</string>
				<key>nibBundle</key>
				<string>com.blacktree.Quicksilver.QSCubeInterfacePlugIn</string>
				<key>nibName</key>
				<string>QSCubeInterfacePrefPane</string>
				<key>type</key>
				<string>hidden</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>version</key>
		<string>3779</string>
	</dict>
</dict>
</plist>
