<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>category</key>
      <string>Visor de tareas</string>
      <key>default</key>
      <string>QSShowTaskViewerAutomatically</string>
      <key>title</key>
      <string>Mostrar el visor de tareas automáticamente cuando se cree una tarea</string>
      <key>type</key>
      <string>casilla</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Conmutación de aplicaciones</string>
      <key>default</key>
      <string>Hide Other Apps When Switching</string>
      <key>title</key>
      <string>Ocultar otras aplicaciones al conmutar (desactivado con shift) </string>
      <key>type</key>
      <string>casilla</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Tareas</string>
      <key>default</key>
      <string>Multithreaded Execute</string>
      <key>title</key>
      <string>Ejecutar tareas y acciones de fondo</string>
      <key>type</key>
      <string>casilla</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Conmutación de aplicaciones</string>
      <key>default</key>
      <string>QSActionAppReopenBehavior</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>activa la aplicación</string>
        <key>1</key>
        <string>muestra la ventana superior</string>
        <key>2</key>
        <string>muestra todas las ventanas</string>
      </dict>
      <key>pretext</key>
      <string>Reiniciar una aplicación</string>
      <key>subtext</key>
      <string>Reiniciar la aplicación actual muestra todas las ventanas</string>
      <key>title</key>
      <string>Reiniciando la aplicación actual:</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Actualizar</string>
      <key>default</key>
      <string>QSUpdateReleaseLevel</string>
      <key>image</key>
      <string>Quicksilver</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>Versiones finales</string>
        <key>1</key>
        <string>Versiones candidatas</string>
        <key>2</key>
        <string>Versiones de desarrollo</string>
      </dict>
      <key>requestRelaunch</key>
      <true></true>
      <key>title</key>
      <string>Tipo de actualización de aplicación</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Comando</string>
      <key>default</key>
      <string>Shift Actions</string>
      <key>title</key>
      <string>Permitir teclas en mayúscula para seleccionar la acción</string>
      <key>type</key>
      <string>casilla</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Comando</string>
      <key>default</key>
      <string>Suppress HotKeys in Command</string>
      <key>title</key>
      <string>Desactivar atajos de teclado cuando Quicksilver tiene el foco</string>
      <key>type</key>
      <string>casilla</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Comando</string>
      <key>default</key>
      <string>Double Delete Clears Object</string>
      <key>title</key>
      <string>Pulsar la tecla borrar dos veces quita el objeto actual</string>
      <key>type</key>
      <string>casilla</string>
    </dict>
  </array>
</plist>
