<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>QSPresetModules</string>
		<key>children</key>
		<array/>
		<key>icon</key>
		<string>PlugInIcon</string>
		<key>name</key>
		<string>Modules</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
</array>
</plist>
