[submodule "Quicksilver/Code-External/VDKQueue"]
	path = Quicksilver/Code-External/VDKQueue
	url = https://github.com/quicksilver/VDKQueue.git
[submodule "Quicksilver/Code-External/DisableSubviews"]
	path = Quicksilver/Code-External/DisableSubviews
	url = git://github.com/ardalahmet/DisableSubviews.git
[submodule "Quicksilver/Code-External/LaunchAtLoginController"]
	path = Quicksilver/Code-External/LaunchAtLoginController
	url = https://github.com/quicksilver/LaunchAtLoginController.git
[submodule "Quicksilver/Code-External/FMDB"]
	path = Quicksilver/Code-External/FMDB
	url = git://github.com/ccgus/fmdb.git
