.svn
.DS_Store
._.*
*.o
build
Makefile
autom4te.cache
*~
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.pbxuser
*.tm_build_errors
*.tmproj
Developer.xcconfig
*.xcworkspace
*.xcuserdatad
Quicksilver*.dmg
*.pyc
Quicksilver/SharedSupport/Changes*.html
Quicksilver/Code-External/VDKQueue
Quicksilver/Code-External/DisableSubviews
Quicksilver/Code-External/NDHotKeyEvent
.idea/
codesign.conf
codesign.crt
codesign.key
codesign.p12
