language: objective-c
osx_image: xcode7.2
xcode_project: Quicksilver/Quicksilver.xcodeproj # path to your xcodeproj folder
xcode_scheme: "Quicksilver Distribution"
script: |
    ruby Quicksilver/Tools/travis/check_indent.rb &&
    xctool -project "$TRAVIS_XCODE_PROJECT" -scheme "$TRAVIS_XCODE_SCHEME" build test

