<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>QSDroplet</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.droplet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>QSDropletApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string>performService</string>
			<key>NSPortName</key>
			<string>QSDroplet</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSColorPboardType</string>
				<string>NSFileContentsPboardType</string>
				<string>NSFilenamesPboardType</string>
				<string>NSFontPboardType</string>
				<string>NSHTMLPboardType</string>
				<string>NSPDFPboardType</string>
				<string>NSPICTPboardType</string>
				<string>NSPostScriptPboardType</string>
				<string>NSRulerPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSTabularTextPboardType</string>
				<string>NSTIFFPboardType</string>
				<string>NSURLPboardType</string>
				<string>NSVCardPboardType</string>
				<string>NSFilesPromisePboardType</string>
			</array>
			<key>NSTimeout</key>
			<string>10000</string>
		</dict>
	</array>
</dict>
</plist>
