<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>category</key>
      <string>Prohlížeč úloh</string>
      <key>default</key>
      <string>QSShowTaskViewerAutomatically</string>
      <key>title</key>
      <string>Zobrazit prohlížeč úloh automaticky po vytvoření úlohy</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Přepínání aplikace</string>
      <key>default</key>
      <string>Skrýt ostatní při přepínání</string>
      <key>title</key>
      <string>Při přepínámí aplikací skrýt ostatní (lze přeřaďovačem zakázat)</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Úlohy</string>
      <key>default</key>
      <string>Spustit vícevláknově</string>
      <key>title</key>
      <string>Spustit úlohy a akce na pozadí</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Přepínání aplikace</string>
      <key>default</key>
      <string>QSActionAppReopenBehavior</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>přepnout do aplikace</string>
        <key>1</key>
        <string>zobrazit okna v popředí</string>
        <key>2</key>
        <string>zobrazit všechna okna</string>
      </dict>
      <key>pretext</key>
      <string>Aplikace se znovu spouští</string>
      <key>subtext</key>
      <string>Znovuotevření aktuální aplikace zobrazí všechna okna</string>
      <key>title</key>
      <string>Znovu se spouští aplikace:</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Aktualizovat</string>
      <key>default</key>
      <string>QSUpdateReleaseLevel</string>
      <key>image</key>
      <string>Quicksilver</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>Stabilní verze</string>
        <key>1</key>
        <string>Testovací verze</string>
        <key>2</key>
        <string>Vývojová verze</string>
      </dict>
      <key>requestRelaunch</key>
      <true></true>
      <key>title</key>
      <string>Typ aktualizace aplikace</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Cmd</string>
      <key>default</key>
      <string>Shift Actions</string>
      <key>title</key>
      <string>Povolit kl. s velkými znaky vybrat akci</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Cmd</string>
      <key>default</key>
      <string>Potlačit v příkazech spouštění klávesu</string>
      <key>title</key>
      <string>Vypnout spouštění pomocí spouštěcí klávesy, když je Quicksilver aktivní</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Cmd</string>
      <key>default</key>
      <string>Dvojtým stiskem kl. Delete vymažete objekt</string>
      <key>title</key>
      <string>Dvojtým stiskem klávesy Delete se smaže aktuální objekt</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
  </array>
</plist>
