#include "Developer.xcconfig"

VALID_ARCHS = i386 x86_64 ppc

SDKROOT = macosx10.6

SYMROOT = $(QS_BUILD_ROOT)/build

MACOSX_DEPLOYMENT_TARGET = 10.6
PREBINDING = NO

INFOPLIST_PREPROCESS = YES

FRAMEWORK_SEARCH_PATHS = /System/Library/PrivateFrameworks ~/Library/Frameworks $(BUILT_PRODUCTS_DIR)

//GCC_VERSION = com.apple.compilers.llvmgcc42

// Disabled for now, plugins get angry
//GCC_ENABLE_OBJC_GC = supported

GCC_C_LANGUAGE_STANDARD = c99

GCC_ENABLE_OBJC_EXCEPTIONS = YES

GCC_FAST_OBJC_DISPATCH = YES

WARNING_CFLAGS = -Wall -Wno-parentheses -Wno-deprecated-declarations -Wunused-function // Disabled for now. Too picky ;-) -Wextra

QS_APP_CONTENTS_FOLDER = $(CONFIGURATION_BUILD_DIR)/Quicksilver.app/Contents
QS_BUILD_ROOT = /tmp/QS

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = $(QS_BUILD_ROOT)/Configuration/Quicksilver.pch

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
