#include "Common.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf

STRIP_INSTALLED_PRODUCT = NO

COPY_PHASE_STRIP = NO

GCC_ENABLE_FIX_AND_CONTINUE = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = YES

GCC_OPTIMIZATION_LEVEL = 0

LLVM_LTO = NO  // Link Time Optimization (specific to LLVM & Clang)


GCC_PREPROCESSOR_DEFINITIONS = DEBUG
