#include "Common.xcconfig"

ARCHS = i386

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

DEPLOYMENT_POSTPROCESSING = YES

ALWAYS_SEARCH_USER_PATHS = NO

GENERATE_PKGINFO_FILE = YES

GCC_ENABLE_CPP_EXCEPTIONS = NO

GCC_ENABLE_CPP_RTTI = NO

GCC_ENABLE_PASCAL_STRINGS = NO

STRIP_INSTALLED_PRODUCT = YES

GCC_FAST_MATH = YES

COPY_PHASE_STRIP = YES

GCC_ENABLE_FIX_AND_CONTINUE = NO

GCC_GENERATE_DEBUGGING_SYMBOLS = NO

GCC_OPTIMIZATION_LEVEL = s

GCC_AUTO_VECTORIZATION = YES

GCC_ENABLE_SSE3_EXTENSIONS = YES

GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = YES

LLVM_LTO = YES  // Link Time Optimization (specific to LLVM & Clang)

//GCC_VERSION = 4.2                                     // GCC 4.2
GCC_VERSION = com.apple.compilers.llvmgcc42           // LLVM GCC 4.2
//GCC_VERSION = com.apple.compilers.llvm.clang.1_0        // Clang 1.0 (uses LLVM GCC 4.2 for C++ stuff)

ALWAYS_SEARCH_USER_PATHS = NO

PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = YES  // If you get lotsa "Duplicate interface definition" errors from "Core Support" when you are building with Clang, then edit the
                                                        // "Core Support" target build settings and override the "PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR" setting from the 
                                                        // Build Settings dialog and set it to NO (the name of the build settings should turn bold indicating its overiding something).