ARCHS = ppc i386
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) $(SYSTEM_LIBRARY_DIR)/PrivateFrameworks $(SRCROOT)/Code-External
PREBINDING = NO
ZERO_LINK = NO
SECTORDER_FLAGS = 
PRODUCT_NAME = Quicksilver
WRAPPER_EXTENSION = app
INFOPLIST_FILE = PropertyLists/Quicksilver-Info.plist
INFOPLIST_PREFIX_HEADER = $(CONFIGURATION_TEMP_DIR)/Quicksilver-Info.h
COPYING_PRESERVES_HFS_DATA = YES
INSTALL_PATH = "$(HOME)/Applications"
GCC_ENABLE_TRIGRAPHS = NO
GCC_PREFIX_HEADER = Prefix/Quicksilver_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
