<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>QSPresetApplications</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetMainApplications</string>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>3</integer>
					<key>folderTypes</key>
					<array>
						<string>app</string>
						<string>'APPL'</string>
					</array>
					<key>kind</key>
					<string>Folder</string>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>/Applications/</string>
					<key>scanContents</key>
					<integer>1</integer>
					<key>type</key>
					<string></string>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetClassicApplications</string>
				<key>name</key>
				<string>Applications (Mac OS 9)</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>2</integer>
					<key>folderTypes</key>
					<array>
						<string>'APPL'</string>
						<string>app</string>
					</array>
					<key>kind</key>
					<string>Folder</string>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>/Applications (Mac OS 9)/</string>
					<key>scanContents</key>
					<integer>0</integer>
					<key>skipItem</key>
					<integer>1</integer>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetUserApplications</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>3</integer>
					<key>folderTypes</key>
					<array>
						<string>app</string>
						<string>'APPL'</string>
					</array>
					<key>kind</key>
					<string>Folder</string>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Applications/</string>
					<key>scanContents</key>
					<integer>1</integer>
					<key>skipItem</key>
					<false/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetRunningProcesses</string>
				<key>source</key>
				<string>QSProcessObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetAllApplications</string>
				<key>source</key>
				<string>QSAllApplicationsObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>GenericApplicationIcon</string>
		<key>name</key>
		<string>Applications</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>QSPresetSystemGroup</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetConfiguration</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetNetworkLocations</string>
						<key>source</key>
						<string>QSNetworkLocationObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetWirelessNetworks</string>
						<key>feature</key>
						<integer>1</integer>
						<key>source</key>
						<string>QSAirPortNetworkObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetAccounts</string>
						<key>source</key>
						<string>QSAccountsSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetPreferencePanes</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetLibraryPreferencePanes</string>
								<key>icon</key>
								<string>PrefFileIcon</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>1</integer>
									<key>folderTypes</key>
									<array>
										<string>prefPane</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Library/PreferencePanes</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetUserPreferencePanes</string>
								<key>icon</key>
								<string>PrefFileIcon</string>
								<key>name</key>
								<string>System Preferences (User)</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>1</integer>
									<key>folderTypes</key>
									<array>
										<string>prefPane</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>~/Library/PreferencePanes</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
									<key>type</key>
									<string></string>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetSystemPreferencePanes</string>
								<key>icon</key>
								<string>PrefFileIcon</string>
								<key>name</key>
								<string>System Preferences (System)</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>1</integer>
									<key>folderTypes</key>
									<array>
										<string>prefPane</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/System/Library/PreferencePanes</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>icon</key>
						<string>SystemPreferencesIcon</string>
						<key>source</key>
						<string>QSGroupObjectSource</string>
						<key>supressChildren</key>
						<true/>
					</dict>
				</array>
				<key>icon</key>
				<string>prefsGeneral</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetDevices</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetVolumes</string>
						<key>source</key>
						<string>QSVolumesObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetPrinters</string>
						<key>icon</key>
						<string>PrintCenterIcon</string>
						<key>settings</key>
						<dict>
							<key>folderDepth</key>
							<integer>1</integer>
							<key>folderTypes</key>
							<array>
								<string>app</string>
							</array>
							<key>parser</key>
							<string>QSDirectoryParser</string>
							<key>path</key>
							<string>~/Library/Printers</string>
							<key>scanContents</key>
							<integer>1</integer>
							<key>skipItem</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
				</array>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetDockGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetDockApplications</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.apple.dock</string>
							<key>keypath</key>
							<array>
								<string>persistent-apps</string>
								<string>*</string>
								<string>tile-data</string>
								<string>file-data</string>
							</array>
							<key>type</key>
							<integer>5</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDockOthers</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.apple.dock</string>
							<key>keypath</key>
							<array>
								<string>persistent-others</string>
								<string>*</string>
								<string>tile-data</string>
								<string>file-data</string>
							</array>
							<key>type</key>
							<integer>5</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
				</array>
				<key>icon</key>
				<string>DockIcon</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetFinderGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetHome</string>
						<key>settings</key>
						<dict>
							<key>folderDepth</key>
							<integer>1</integer>
							<key>path</key>
							<string>~</string>
							<key>scanContents</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDesktop</string>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSDirectoryParser</string>
							<key>path</key>
							<string>~/Desktop</string>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetTrash</string>
						<key>icon</key>
						<string>TrashIcon</string>
						<key>settings</key>
						<dict>
							<key>path</key>
							<string>~/.Trash</string>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetSidebarItems</string>
						<key>icon</key>
						<string>SidebarIcon</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.apple.sidebarlists</string>
							<key>keypath</key>
							<array>
								<string>useritems</string>
								<string>CustomListItems</string>
								<string>*</string>
								<string>Alias</string>
							</array>
							<key>type</key>
							<integer>3</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetFinderToolbarItems</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.apple.finder</string>
							<key>keypath</key>
							<array>
								<string>FXToolbarItems</string>
								<string>*</string>
								<string>file-data</string>
							</array>
							<key>type</key>
							<integer>5</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetFinderSpecificSearchPlaces</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.apple.finder</string>
							<key>keypath</key>
							<array>
								<string>FXSpecificSearchPlaces</string>
								<string>*</string>
								<string>file-data</string>
							</array>
							<key>type</key>
							<integer>5</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
				</array>
				<key>icon</key>
				<string>FinderIcon</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>FinderIcon</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>QSPresetContacts</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetAddressBook</string>
				<key>source</key>
				<string>QSAddressBookObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetNUDCContacts</string>
				<key>requiresBundle</key>
				<string>com.poweronsoftware.nowcontact</string>
				<key>source</key>
				<string>QSNUDCSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetABMailRecents</string>
				<key>source</key>
				<string>QSABMailRecentsObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>genericPerson</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>QSPresetInternetGroup</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetBrowsersGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetSafariGroup</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetSafariBookmarks</string>
								<key>icon</key>
								<string>DefaultBookmarkIcon</string>
								<key>settings</key>
								<dict>
									<key>fileContents</key>
									<string>Safari Bookmarks</string>
									<key>parser</key>
									<string>QSSafariBookmarksParser</string>
									<key>path</key>
									<string>~/Library/Safari/Bookmarks.plist</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetSafariHistory</string>
								<key>icon</key>
								<string>SafariHistoryIcon</string>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSSafariHistoryParser</string>
									<key>path</key>
									<string>~/Library/Safari/History.plist</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetSogudiShortcuts</string>
								<key>icon</key>
								<string>Find</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSSogudiLinkParser</string>
									<key>path</key>
									<string>~/Library/Application Support/SogudiShortcuts.plist</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>icon</key>
						<string>com.apple.Safari</string>
						<key>name</key>
						<string>Safari</string>
						<key>requiresBundle</key>
						<string>com.apple.Safari</string>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetOmniWebGroup</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetOmniWebBookmarks</string>
								<key>icon</key>
								<string>com.omnigroup.OmniWeb5</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSHTMLLinkParser</string>
									<key>path</key>
									<string>~/Library/Application Support/OmniWeb 5/Bookmarks.html</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetOmniWebServerBookmarks</string>
								<key>icon</key>
								<string>com.omnigroup.OmniWeb5</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSHTMLLinkParser</string>
									<key>path</key>
									<string>~/Library/Application Support/OmniWeb 5/ServerBookmarks/Bookmarks.html</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetOmniWebFavorites</string>
								<key>icon</key>
								<string>com.omnigroup.OmniWeb5</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSHTMLLinkParser</string>
									<key>path</key>
									<string>~/Library/Application Support/OmniWeb 5/Favorites.html</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetOmniWebHistory</string>
								<key>icon</key>
								<string>SafariHistoryIcon</string>
								<key>modificationDate</key>
								<real>103506752</real>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSOmniWebHistoryParser</string>
									<key>path</key>
									<string>~/Library/Application Support/OmniWeb 5/History.plist</string>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetOmniWebShortcuts</string>
								<key>icon</key>
								<string>Find</string>
								<key>requiresSettingsPath</key>
								<true/>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSOmniWebShortcutsParser</string>
									<key>path</key>
									<string>~/Library/Preferences/com.omnigroup.OmniWeb5.plist</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>icon</key>
						<string>com.omnigroup.OmniWeb5</string>
						<key>requiresBundle</key>
						<string>com.omnigroup.OmniWeb5</string>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetIEGroup</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetIEBookmarks</string>
								<key>icon</key>
								<string>DefaultBookmarkIcon</string>
								<key>requiresBundle</key>
								<string>com.microsoft.explorer</string>
								<key>requiresSettingsPath</key>
								<integer>1</integer>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSHTMLLinkParser</string>
									<key>path</key>
									<string>~/Library/Preferences/Explorer/Favorites.html</string>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetIEHistory</string>
								<key>icon</key>
								<string>SafariHistoryIcon</string>
								<key>modificationDate</key>
								<real>103506816</real>
								<key>requiresBundle</key>
								<string>com.microsoft.explorer</string>
								<key>requiresSettingsPath</key>
								<integer>1</integer>
								<key>settings</key>
								<dict>
									<key>parser</key>
									<string>QSHTMLLinkParser</string>
									<key>path</key>
									<string>~/Library/Preferences/Explorer/History.html</string>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>icon</key>
						<string>com.microsoft.explorer</string>
						<key>requiresBundle</key>
						<string>com.microsoft.explorer</string>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetFirefoxBookmarks</string>
						<key>icon</key>
						<string>org.mozilla.mozilla</string>
						<key>modificationDate</key>
						<real>103311904</real>
						<key>name</key>
						<string>Firefox Bookmarks</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSHTMLLinkParser</string>
							<key>path</key>
							<string>~/Library/Phoenix/Profiles/default/*/bookmarks.html</string>
							<key>skipItem</key>
							<true/>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetMozillaBookmarks</string>
						<key>icon</key>
						<string>org.mozilla.mozilla</string>
						<key>name</key>
						<string>Mozilla Bookmarks</string>
						<key>requiresBundle</key>
						<string>org.mozilla.mozilla</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSHTMLLinkParser</string>
							<key>path</key>
							<string>~/Library/Mozilla/Profiles/default/*/bookmarks.html</string>
							<key>skipItem</key>
							<true/>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetNetscapeBookmarks</string>
						<key>icon</key>
						<string>com.netscape.mozilla</string>
						<key>requiresBundle</key>
						<string>com.netscape.mozilla</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSHTMLLinkParser</string>
							<key>path</key>
							<string>~/Library/Mozilla/Profiles/default/*/bookmarks.html</string>
							<key>skipItem</key>
							<true/>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetCaminoBookmarks</string>
						<key>icon</key>
						<string>org.mozilla.navigator</string>
						<key>name</key>
						<string>Camino Bookmarks</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSCaminoBookmarksParser</string>
							<key>path</key>
							<string>~/Library/Application Support/Camino/bookmarks.plist</string>
							<key>skipItem</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetOldCaminoBookmarks</string>
						<key>icon</key>
						<string>org.mozilla.navigator</string>
						<key>modificationDate</key>
						<real>103312096</real>
						<key>requiresBundle</key>
						<string>org.mozilla.navigator</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSOldCaminoBookmarksParser</string>
							<key>path</key>
							<string>~/Library/Application Support/Chimera/Profiles/default/*/bookmarks.xml</string>
							<key>skipItem</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetICabBookmarks</string>
						<key>icon</key>
						<string>com.icab.iCab</string>
						<key>name</key>
						<string>iCab Bookmarks</string>
						<key>requiresBundle</key>
						<string>com.icab.iCab</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSHTMLLinkParser</string>
							<key>path</key>
							<string>~/Library/Preferences/iCab Preferences/Hotlist.html</string>
							<key>skipItem</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetOperaBookmarks</string>
						<key>icon</key>
						<string>DefaultBookmarkIcon</string>
						<key>requiresBundle</key>
						<string>com.operasoftware.Opera</string>
						<key>requiresSettingsPath</key>
						<true/>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSOperaBookmarksParser</string>
							<key>path</key>
							<string>~/Library/Preferences/Opera Preferences/Bookmarks</string>
							<key>skipItem</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
				</array>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>GenericNetworkIcon</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>QSPresetRecentItems</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetRecentApplications</string>
				<key>icon</key>
				<string>GenericApplicationIcon</string>
				<key>settings</key>
				<dict>
					<key>bundle</key>
					<string>com.apple.recentitems</string>
					<key>keypath</key>
					<array>
						<string>app-aliases</string>
						<string>*</string>
					</array>
					<key>type</key>
					<integer>3</integer>
				</dict>
				<key>source</key>
				<string>QSDefaultsObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetRecentDocuments</string>
				<key>icon</key>
				<string>GenericDocumentIcon</string>
				<key>settings</key>
				<dict>
					<key>bundle</key>
					<string>com.apple.recentitems</string>
					<key>keypath</key>
					<array>
						<string>doc-aliases</string>
						<string>*</string>
					</array>
					<key>type</key>
					<integer>3</integer>
				</dict>
				<key>source</key>
				<string>QSDefaultsObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetRecentServers</string>
				<key>icon</key>
				<string>GenericFileServerIcon</string>
				<key>settings</key>
				<dict>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Library/Recent Servers</string>
					<key>skipItem</key>
					<integer>1</integer>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetFavorites</string>
				<key>icon</key>
				<string>FavoritesIcon</string>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>1</integer>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Library/Favorites</string>
					<key>skipItem</key>
					<true/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetFinderRecentFolders</string>
				<key>icon</key>
				<string>GenericFolderIcon</string>
				<key>settings</key>
				<dict>
					<key>bundle</key>
					<string>com.apple.finder</string>
					<key>keypath</key>
					<array>
						<string>recent-folders</string>
						<string>*</string>
						<string>file-data</string>
					</array>
					<key>type</key>
					<integer>5</integer>
				</dict>
				<key>source</key>
				<string>QSDefaultsObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetGlobalPrefsRecentFolders</string>
				<key>icon</key>
				<string>GenericFolderIcon</string>
				<key>settings</key>
				<dict>
					<key>bundle</key>
					<string>.GlobalPreferences</string>
					<key>keypath</key>
					<array>
						<string>AppleRecentFolders</string>
						<string>*</string>
					</array>
					<key>type</key>
					<integer>2</integer>
				</dict>
				<key>source</key>
				<string>QSDefaultsObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>SafariHistoryIcon</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>QSPresetScriptsGroup</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetLibraryScripts</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>3</integer>
					<key>folderTypes</key>
					<array>
						<string>sh</string>
						<string>pl</string>
						<string>'osas'</string>
						<string>'TEXT'</string>
						<string>scpt</string>
						<string>applescript</string>
						<string></string>
					</array>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>/Library/Scripts</string>
					<key>scanContents</key>
					<integer>1</integer>
					<key>skipItem</key>
					<true/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetQSExtraScripts</string>
				<key>modificationDate</key>
				<real>103923344</real>
				<key>name</key>
				<string>Scripts (QS Extras)</string>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>4</integer>
					<key>folderTypes</key>
					<array>
						<string>sh</string>
						<string>pl</string>
						<string>'osas'</string>
						<string>'TEXT'</string>
						<string>scpt</string>
						<string>applescript</string>
						<string></string>
					</array>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>Contents/Resources/ExtraScripts/</string>
					<key>scanContents</key>
					<integer>1</integer>
					<key>skipItem</key>
					<integer>1</integer>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetUserScripts</string>
				<key>modificationDate</key>
				<real>103923120</real>
				<key>name</key>
				<string>Scripts (User)</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>4</integer>
					<key>folderTypes</key>
					<array>
						<string>sh</string>
						<string>pl</string>
						<string>'osas'</string>
						<string>'TEXT'</string>
						<string>scpt</string>
						<string>applescript</string>
						<string></string>
					</array>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Library/Scripts</string>
					<key>scanContents</key>
					<integer>1</integer>
					<key>skipItem</key>
					<true/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetiTunesScripts</string>
				<key>name</key>
				<string>Scripts (iTunes)</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>3</integer>
					<key>folderTypes</key>
					<array>
						<string>applescript</string>
						<string>'osas'</string>
					</array>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Library/iTunes/Scripts</string>
					<key>scanContents</key>
					<integer>1</integer>
					<key>skipItem</key>
					<true/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetDVDPlayerScripts</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>3</integer>
					<key>folderTypes</key>
					<array>
						<string>scpt</string>
						<string>applescript</string>
						<string>'osas'</string>
					</array>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Library/Application Support/DVD Player Scripts</string>
					<key>skipItem</key>
					<true/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetAddressBookScripts</string>
				<key>requiresSettingsPath</key>
				<true/>
				<key>settings</key>
				<dict>
					<key>folderDepth</key>
					<integer>1</integer>
					<key>folderTypes</key>
					<array>
						<string>scpt</string>
					</array>
					<key>parser</key>
					<string>QSDirectoryParser</string>
					<key>path</key>
					<string>~/Library/Address Book Scripts</string>
					<key>skipItem</key>
					<true/>
				</dict>
				<key>source</key>
				<string>QSFileSystemObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>ScriptIcon</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>QSPresetSpecial</string>
		<key>children</key>
		<array>
			<dict>
				<key>ID</key>
				<string>QSPresetILifeGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetiPhotoAlbums</string>
						<key>requiresBundle</key>
						<string>com.apple.iPhoto</string>
						<key>source</key>
						<string>QSiPhotoObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetiTunesPlaylists</string>
						<key>requiresBundle</key>
						<string>com.apple.iTunes</string>
						<key>source</key>
						<string>QSiTunesObjectSource</string>
					</dict>
				</array>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetNNWSubscriptions</string>
				<key>source</key>
				<string>QSNNWSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetSherlockChannels</string>
				<key>name</key>
				<string>Sherlock Channels</string>
				<key>source</key>
				<string>QSSherlockSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetPathFinderGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetPathFinderRecentFiles</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.cocoatech.PathFinder</string>
							<key>keypath</key>
							<array>
								<string>kRecentFileMenuItems</string>
								<string>*</string>
							</array>
							<key>type</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetPathFinderRecentFolders</string>
						<key>settings</key>
						<dict>
							<key>bundle</key>
							<string>com.cocoatech.PathFinder</string>
							<key>keypath</key>
							<array>
								<string>kRecentFolderMenuItems</string>
								<string>*</string>
							</array>
							<key>type</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSDefaultsObjectSource</string>
					</dict>
				</array>
				<key>icon</key>
				<string>com.cocoatech.PathFinder</string>
				<key>requiresBundle</key>
				<string>com.cocoatech.PathFinder</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetWatsonGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetUserWatsonTools</string>
						<key>icon</key>
						<string>com.karelia.watson</string>
						<key>settings</key>
						<dict>
							<key>folderTypes</key>
							<array>
								<string>WatsonTool</string>
							</array>
							<key>parser</key>
							<string>QSDirectoryParser</string>
							<key>path</key>
							<string>~/Library/Application Support/Watson</string>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
				</array>
				<key>icon</key>
				<string>com.karelia.watson</string>
				<key>requiresBundle</key>
				<string>com.karelia.watson</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetQSGroup</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetQSDefaultLinks</string>
						<key>modificationDate</key>
						<real>103325688</real>
						<key>settings</key>
						<dict>
							<key>parser</key>
							<string>QSHTMLLinkParser</string>
							<key>path</key>
							<string>Contents/Resources/Links.html</string>
							<key>skipItem</key>
							<true/>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetQSCatalogEntries</string>
						<key>source</key>
						<string>QSCatalogEntrySource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetShelves</string>
						<key>source</key>
						<string>QSShelfSource</string>
					</dict>
				</array>
				<key>icon</key>
				<string>com.blacktree.Quicksilver</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
			<dict>
				<key>ID</key>
				<string>QSPresetDeveloper</string>
				<key>children</key>
				<array>
					<dict>
						<key>ID</key>
						<string>QSPresetDeveloperApplications</string>
						<key>settings</key>
						<dict>
							<key>folderDepth</key>
							<integer>3</integer>
							<key>folderTypes</key>
							<array>
								<string>'APPL'</string>
								<string>app</string>
							</array>
							<key>parser</key>
							<string>QSDirectoryParser</string>
							<key>path</key>
							<string>/Developer/Applications</string>
							<key>skipItem</key>
							<true/>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDeveloperAppKit</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperAppKitDocumentation</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>2</integer>
									<key>folderTypes</key>
									<array>
										<string>html</string>
										<string>pdf</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Developer/Documentation/Cocoa/Reference/ApplicationKit/ObjC_classic/</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperAppKitHeaders</string>
								<key>settings</key>
								<dict>
									<key>folderTypes</key>
									<array>
										<string>h</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/System/Library/Frameworks/AppKit.framework/Headers</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDeveloperFoundation</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperFoundationDocumentation</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>2</integer>
									<key>folderTypes</key>
									<array>
										<string>html</string>
										<string>pdf</string>
									</array>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Developer/Documentation/Cocoa/Reference/Foundation/ObjC_classic/</string>
									<key>scanContents</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperFoundationHeaders</string>
								<key>settings</key>
								<dict>
									<key>folderTypes</key>
									<array>
										<string>h</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/System/Library/Frameworks/Foundation.framework/Headers</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDeveloperOtherDocs</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperWebKitDocs</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>2</integer>
									<key>folderTypes</key>
									<array>
										<string>html</string>
										<string>pdf</string>
									</array>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Developer/Documentation/Cocoa/Reference/WebKit/ObjC_classic</string>
									<key>scanContents</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperPreferencePaneDocs</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>2</integer>
									<key>folderTypes</key>
									<array>
										<string>html</string>
										<string>pdf</string>
									</array>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Developer/Documentation/UserExperience/Reference/PreferencePanes/ObjC_classic</string>
									<key>scanContents</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperScreenSaverDocs</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>2</integer>
									<key>folderTypes</key>
									<array>
										<string>html</string>
										<string>pdf</string>
									</array>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Developer/Documentation/UserExperience/Reference/ScreenSaver/ObjC_classic</string>
									<key>scanContents</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperAddressBookDocs</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>2</integer>
									<key>folderTypes</key>
									<array>
										<string>html</string>
										<string>pdf</string>
									</array>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/Developer/Documentation/UserExperience/Reference/AddressBook/ObjC_classic</string>
									<key>scanContents</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDeveloperCoreFoundationHeaders</string>
						<key>settings</key>
						<dict>
							<key>folderTypes</key>
							<array>
								<string>h</string>
							</array>
							<key>parser</key>
							<string>QSDirectoryParser</string>
							<key>path</key>
							<string>/System/Library/Frameworks/CoreFoundation.framework/Headers</string>
							<key>scanContents</key>
							<integer>1</integer>
							<key>skipItem</key>
							<integer>1</integer>
						</dict>
						<key>source</key>
						<string>QSFileSystemObjectSource</string>
					</dict>
					<dict>
						<key>ID</key>
						<string>QSPresetDeveloperFrameworks</string>
						<key>children</key>
						<array>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperPublicFrameworks</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>1</integer>
									<key>folderTypes</key>
									<array>
										<string>framework</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/System/Library/Frameworks</string>
									<key>scanContents</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
							<dict>
								<key>ID</key>
								<string>QSPresetDeveloperPrivateFrameworks</string>
								<key>settings</key>
								<dict>
									<key>folderDepth</key>
									<integer>1</integer>
									<key>folderTypes</key>
									<array>
										<string>framework</string>
									</array>
									<key>kind</key>
									<string>Folder</string>
									<key>parser</key>
									<string>QSDirectoryParser</string>
									<key>path</key>
									<string>/System/Library/PrivateFrameworks</string>
									<key>scanContents</key>
									<integer>1</integer>
									<key>skipItem</key>
									<integer>1</integer>
								</dict>
								<key>source</key>
								<string>QSFileSystemObjectSource</string>
							</dict>
						</array>
						<key>source</key>
						<string>QSGroupObjectSource</string>
					</dict>
				</array>
				<key>icon</key>
				<string>DeveloperFolderIcon</string>
				<key>requiresPath</key>
				<string>/Developer</string>
				<key>source</key>
				<string>QSGroupObjectSource</string>
			</dict>
		</array>
		<key>icon</key>
		<string>ToolbarMusicFolderIcon</string>
		<key>source</key>
		<string>QSGroupObjectSource</string>
	</dict>
</array>
</plist>
