<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Capture Pasteboard History</key>
	<false/>
	<key>Capture Pasteboard History Count</key>
	<integer>9</integer>
	<key>Check for Update Frequency</key>
	<integer>7</integer>
	<key>Delay Before Quitting</key>
	<true/>
	<key>QSAccentColor</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYFHNlbGVjdGVkQ29udHJvbENvbG9yhoSTlQOEAmZmAQGGhg==</data>
	<key>QSActionAppReopenBehavior</key>
	<integer>0</integer>
	<key>QSActivationHotKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>262401</integer>
	</dict>
	<key>QSAlwaysInstallPrerequisites</key>
	<true/>
	<key>QSAppearance1A</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBgz6ZmZqG</data>
	<key>QSAppearance1B</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgwjPxT6DvqL3PYMpn/c+g9GKZz+G</data>
	<key>QSAppearance1T</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg0BwfD+DUm58P4Nqb3w/AYY=</data>
	<key>QSAppearance2A</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJmZoM/KqqrAYaG</data>
	<key>QSAppearance2B</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAYNS/n8/g27/fz8Bhg==</data>
	<key>QSAppearance2T</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAAAAg5Gkcz+G</data>
	<key>QSAppearance3A</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg2B2JT+D5XZNP4OQy38/gwcS/z6G</data>
	<key>QSAppearance3B</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgwosfD+DJjh8P4MQKXw/AYY=</data>
	<key>QSAppearance3T</key>
	<data>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmg1JuMD2D9mwwPYO5bTA9AYY=</data>
	<key>QSBezelHasShadow</key>
	<false/>
	<key>QSCatalogRescanFrequency</key>
	<integer>10</integer>
	<key>QSChatMediators</key>
	<string>com.apple.iChat</string>
	<key>QSCommandInterfaceControllers</key>
	<string>QSPrimerInterfaceController</string>
	<key>QSFSBrowserMediators</key>
	<string>com.apple.finder</string>
	<key>QSLoadImagePreviews</key>
	<true/>
	<key>QSNotifiers</key>
	<string>com.apple.NotificationCenter</string>
	<key>QSResultViewRowHeight</key>
	<string>34</string>
	<key>QSSearchSpaceBarBehavior</key>
	<integer>7</integer>
	<key>QSUpdateReleaseLevel</key>
	<integer>0</integer>
	<key>Reset Delay</key>
	<real>2</real>
	<key>Hide Dock Icon</key>
	<false/>
	<key>Result Window Behavior</key>
	<integer>1</integer>
	<key>Search Delay</key>
	<real>0.05</real>
	<key>Show Release Notes on Upgrade</key>
	<true/>
	<key>Use Effects</key>
	<true/>
	<key>QSFilePreviewTypes</key>
	<array>
		<string>public.item</string>
	</array>
	<key>QSStringRankers</key>
	<string>QSDefaultStringRanker</string>
	<key>Browse Mode</key>
	<integer>2</integer>
	<key>Text Allow Tightening</key>
	<true/>
	<key>Text Matched Always Show Name</key>
	<true/>
	<key>Text Matched Glow</key>
	<false/>
	<key>Text Matched Underline</key>
	<true/>
	<key>Text Glow Divisor</key>
	<real>16</real>
	<key>QSHistoryMaxLength</key>
	<integer>50</integer>
</dict>
</plist>
