<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Capture Pasteboard History</key>
	<false/>
	<key>Capture Pasteboard History Count</key>
	<integer>9</integer>
	<key>Check for Update Frequency</key>
	<integer>7</integer>
	<key>Delay Before Quitting</key>
	<true/>
	<key>QSAccentColor</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYFHNlbGVjdGVkQ29udHJvbENvbG9yhoSTlQOEAmZmAQGGhg==</data>
	<key>QSActionAppReopenBehavior</key>
	<integer>0</integer>
	<key>QSActivationHotKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>262401</integer>
	</dict>
	<key>QSAlwaysInstallPrerequisites</key>
	<true/>
	<key>QSAppearance1A</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmAQEBgz6ZmZqG</data>
	<key>QSAppearance1B</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgz4HtDaDPcv0R4M+SlKUgz9MzM2G</data>
	<key>QSAppearance1T</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYIWFsdGVybmF0ZVNlbGVjdGVkQ29udHJvbFRleHRDb2xvcoaEk5UDhAJmZgEBhoY=</data>
	<key>QSAppearance2A</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJmZoM/KqqrAYaG</data>
	<key>QSAppearance2B</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYFWNvbnRyb2xIaWdobGlnaHRDb2xvcoaEk5UDhAJmZgEBhoY=</data>
	<key>QSAppearance2T</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYFHdpbmRvd0ZyYW1lVGV4dENvbG9yhoSTlQOEAmZmAQGGhg==</data>
	<key>QSAppearance3A</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYG3NlbGVjdGVkVGV4dEJhY2tncm91bmRDb2xvcoaEk5UDhAJmZoM/KqqrAYaG</data>
	<key>QSAppearance3B</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYE3RleHRCYWNrZ3JvdW5kQ29sb3KGhJOVA4QCZmYBAYaG</data>
	<key>QSAppearance3T</key>
	<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMGhANAQECEhIQITlNTdHJpbmcBlIQBKwZTeXN0ZW2GhJaYCXRleHRDb2xvcoaEk5UDhAJmZgABhoY=</data>
	<key>QSBezelHasShadow</key>
	<false/>
	<key>QSCatalogRescanFrequency</key>
	<integer>10</integer>
	<key>QSChatMediators</key>
	<string>com.apple.iChat</string>
	<key>QSCommandInterfaceControllers</key>
	<string>QSBezelInterfaceController</string>
	<key>QSFSBrowserMediators</key>
	<string>com.apple.finder</string>
	<key>QSLoadImagePreviews</key>
	<true/>
	<key>QSNotifiers</key>
	<string>com.apple.NotificationCenter</string>
	<key>QSResultViewRowHeight</key>
	<string>34</string>
	<key>QSSearchSpaceBarBehavior</key>
	<integer>1</integer>
	<key>QSUpdateReleaseLevel</key>
	<integer>0</integer>
	<key>Reset Delay</key>
	<real>2</real>
	<key>Hide Dock Icon</key>
	<false/>
	<key>Result Window Behavior</key>
	<integer>1</integer>
	<key>Search Delay</key>
	<real>0.05</real>
	<key>Show Release Notes on Upgrade</key>
	<true/>
	<key>Use Effects</key>
	<true/>
	<key>QSFilePreviewTypes</key>
	<array>
		<string>public.item</string>
	</array>
	<key>QSStringRankers</key>
	<string>QSDefaultStringRanker</string>
</dict>
</plist>
