body, th, td {
  font-family: "Lucida Grande";
  margin: 2em;
  padding: 0px;
}
a {
  color: blue;
  border-bottom: 1px dotted gray;
  text-decoration: none;
}
a: hover {
  border-bottom:  1px solid blue;
}
pre, code {
  font-family: Menlo;
}
pre {
  border-radius: 0.4em;
  background-color: #EDEDED;
  padding: 0.5em;
}
code {
  color: #4B3E88;
}
pre code {
  color: #000000;
}
table {
  margin: 0.5em 1em;
  border-collapse: collapse;
}
td, th {
  padding: 0.25em 0.5em;
  border: 1px solid #EDEDED;
}
dd {
  margin: 0.25em 0 1em 2em;
}
dt {
  font-weight: bold;
}
dd p {
  margin-top: 0px;
}
dd pre {
  margin: 1em 0px;
}
/* Styles specific to Release Notes */
#qsrn body {
  background: url('../Resources/Quicksilver.icns') no-repeat top right;
  background-size: 256px 256px;
  background-attachment: fixed; 
}
#qsrn ul {
  background-color: rgba(242, 237, 245, 0.9);
  border-radius: 0.5em;
  padding: 1em 1em 1em 2em;
}
