body
{
	font-family: lucida grande, gill sans, verdana;
		font-size: 11px;
		
		margin: 10px;
		padding:0px;
}

h3
{
	font-weight: bold;
	background-color: #C0C0C0;
	color: white;
	padding: 2px 2px 2px 4px;
	font-size: 11px;
	margin: 0px -10px 0px -10px;
}

ul.featurelist
{
	margin: 10px 10px 10px 10px;
	padding: 0px;
}
ul.featurelist li
{
	list-style-type: none;
	list-style-position: default;
	margin: 3px;
	padding: 3px 6px 3px 6px;
	border-color: #CCC;
	border-width: 1px 1px 1px 3px;
	border-style: solid solid solid double;
}

a {
	color: blue;
	border-bottom:1px dotted gray;
	text-decoration:none;
}

a:hover{
	
	border-bottom:1px solid blue;
}