<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AFPClient</key>
	<string>/System/Library/Frameworks/AppleShareClient.framework/Versions/A/Resources/AFPClient.icns</string>
	<key>AirPortDocIcon</key>
	<dict>
		<key>bundle</key>
		<string>com.apple.airport.adminutility</string>
		<key>resource</key>
		<string>AdminDoc.icns</string>
	</dict>
	<key>AirPortIcon</key>
	<dict>
		<key>bundle</key>
		<string>com.apple.airport.adminutility</string>
	</dict>
	<key>All16</key>
	<string>/System/Library/Frameworks/AddressBook.framework/Versions/A/Resources/All16.tiff</string>
	<key>BluetoothLogo</key>
	<string>/System/Library/CoreServices/BluetoothUIServer.app/Contents/Resources/BluetoothLogo.tiff</string>
	<key>CDIcon</key>
	<string>/System/Library/CoreServices/SystemUIServer.app/Contents/Resources/cd.icns</string>
	<key>Caution</key>
	<string>AlertCautionIcon</string>
	<key>CompiledScriptIcon</key>
	<array>
		<dict>
			<key>type</key>
			<string>&apos;osas&apos;</string>
		</dict>
	</array>
	<key>Computer</key>
	<array>
		<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/iMac.icns</string>
		<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/com.apple.imac-aluminum-24.icns</string>
	</array>
	<key>ComputerIcon</key>
	<array>
		<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/iMac.icns</string>
		<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/com.apple.imac-aluminum-24.icns</string>
	</array>
	<key>DockIcon</key>
	<string>/System/Library/CoreServices/Dock.app/Contents/Resources/Dock.icns</string>
	<key>DriveIcon</key>
	<dict>
		<key>bundle</key>
		<string>com.apple.DiskUtility</string>
		<key>path</key>
		<string>Contents/Frameworks/DUSupport.framework/Versions/A/Resources/Disk.tiff</string>
	</dict>
	<key>FavoritesIcon</key>
	<string>ToolbarFavoritesIcon</string>
	<key>FinderIcon</key>
	<string>/System/Library/CoreServices/Finder.app/Contents/Resources/Finder.icns</string>
	<key>MultipleFileSelection</key>
	<string>/System/Library/CoreServices/Finder.app/Contents/Resources/multiselection.icns</string>
	<key>NetworkIcon</key>
	<string>GenericNetworkIcon.icns</string>
	<key>Note</key>
	<string>AlertNoteIcon</string>
	<key>NowContactIcon</key>
	<dict>
		<key>bundle</key>
		<string>com.poweronsoftware.nowcontact</string>
		<key>path</key>
		<string></string>
		<key>type</key>
		<string></string>
	</dict>
	<key>Person16.tiff</key>
	<string>/System/Library/Frameworks/AddressBook.framework/Versions/A/Resources/Person16.tiff</string>
	<key>PlugInIcon</key>
	<string>KEXT</string>
	<key>PrefFileIcon</key>
	<string>/Applications/System Preferences.app/Contents/Resources/PrefFile.icns</string>
	<key>PrintCenterIcon</key>
	<array>
		<string>/System/Library/CoreServices/AddPrinter.app/Contents/Resources/Printer.icns</string>
		<string>/System/Library/CoreServices/AddPrinter.app/Contents/Resources/GenericPostscriptPrinter.icns</string>
	</array>
	<key>RecentItemsIcon</key>
	<string>Recent</string>
	<key>SafariHistoryIcon</key>
	<string>Recent</string>
	<key>ScriptIcon</key>
	<string>/Applications/AppleScript/Script Editor.app/Contents/Resources/SEScriptDocument.icns</string>
	<key>SystemPreferencesIcon</key>
	<string>/Applications/System Preferences.app/Contents/Resources/PrefApp.icns</string>
	<key>TerminalIcon</key>
	<dict>
		<key>bundle</key>
		<string>com.apple.Terminal</string>
	</dict>
	<key>appearanceIcon</key>
	<array>
		<string>/System/Library/PreferencePanes/Appearance.prefPane/Contents/Resources/General.tiff</string>
		<string>/System/Library/PreferencePanes/Appearance.prefPane/Contents/Resources/General.icns</string>
	</array>
	<key>commandIcon</key>
	<string>ForwardArrowIcon</string>
	<key>extrasIcon</key>
	<string>AlertNoteIcon</string>
	<key>genericPerson</key>
	<string>/System/Library/PrivateFrameworks/InstantMessage.framework/Resources/GenericPerson.tiff</string>
	<key>iTunesIcon</key>
	<dict>
		<key>bundle</key>
		<string>com.apple.iTunes</string>
	</dict>
	<key>iTunesTrackIcon</key>
	<string>/Applications/iTunes.app/Contents/Resources/iTunes-generic.icns</string>
	<key>infoIcon</key>
	<string>/System/Library/CoreServices/Finder.app/Contents/Resources/info.icns</string>
	<key>prefSchedules</key>
	<string>/System/Library/PreferencePanes/DateAndTime.prefPane/Contents/Resources/DateAndTime.tiff</string>
	<key>prefsActions</key>
	<string>defaultAction</string>
	<key>prefsCatalog</key>
	<string>Catalog</string>
	<key>prefsConfig</key>
	<string>/System/Library/PrivateFrameworks/HelpUI.framework/Versions/A/Resources/CustomizeToolbar.tiff</string>
	<key>prefsGeneral</key>
	<array>
		<string>/System/Library/PrivateFrameworks/InstantMessage.framework/Resources/Prefs_General.tiff</string>
		<dict>
			<key>bundle</key>
			<string>com.apple.iChat</string>
			<key>resource</key>
			<string>Prefs_General.tiff</string>
		</dict>
	</array>
	<key>prefsHotKeys</key>
	<string>/System/Library/PreferencePanes/Keyboard.prefPane/Contents/Resources/Keyboard.icns</string>
	<key>prefsMenu</key>
	<string>/System/Library/PreferencePanes/Appearance.prefPane/Contents/Resources/General.tiff</string>
	<key>prefsNetwork</key>
	<string>/System/Library/PreferencePanes/Network.prefPane/Contents/Resources/Network.tiff</string>
	<key>prefsPlugins</key>
	<string>KEXT</string>
	<key>prefsSearching</key>
	<string>Find</string>
	<key>prefsUpdate</key>
	<string>/System/Library/CoreServices/Software Update.app/Contents/Resources/Software Update.icns</string>
	<key>rendezvousIcon</key>
	<string>/Applications/Safari.app/Contents/Resources/rendezvous.tiff</string>
	<key>screenCorners</key>
	<string>/System/Library/PreferencePanes/Expose.prefPane/Contents/Resources/corners.tif</string>
	<key>vCardIcon</key>
	<array>
		<dict>
			<key>bundle</key>
			<string>com.apple.AddressBook</string>
			<key>resource</key>
			<string>vCard.icns</string>
		</dict>
		<string>/System/Library/Frameworks/AddressBook.framework/Versions/A/Resources/SingleCard.tif</string>
	</array>
	<key>RemovableVolumeIcon</key>
	<string>/System/Library/Extensions/IOStorageFamily.kext/Contents/Resources/Removable.icns</string>
	<key>com.apple.NotificationCenter</key>
	<string>/System/Library/CoreServices/CoreTypes.bundle/Contents/Resources/Notifications.icns</string>
</dict>
</plist>
