<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Finder Module</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSFinderPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Finder Plugin</string>
	<key>CFBundleDisplayName</key>
	<string>Finder Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>17A5</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>description</key>
		<string>Alows the Finder to respond to Open/Reveal/Selection actions.</string>
		<key>hidden</key>
		<true/>
		<key>icon</key>
		<string>com.apple.finder</string>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSActions</key>
	<dict>
		<key>AddFileTags</key>
		<dict>
			<key>actionClass</key>
			<string>QSFinderAction</string>
			<key>actionSelector</key>
			<string>addToFiles:tagList:</string>
			<key>description</key>
			<string>Add Tags…</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TagIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>QSFileTag</string>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Add Tags…</string>
		</dict>
		<key>ClearFileTags</key>
		<dict>
			<key>actionClass</key>
			<string>QSFinderAction</string>
			<key>actionSelector</key>
			<string>clearTagsFromFiles:</string>
			<key>description</key>
			<string>Clear Tags</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TagIcon</string>
			<key>name</key>
			<string>Clear Tags</string>
		</dict>
		<key>RemoveFileTags</key>
		<dict>
			<key>actionClass</key>
			<string>QSFinderAction</string>
			<key>actionSelector</key>
			<string>removeFromFiles:tags:</string>
			<key>description</key>
			<string>Remove Tags…</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TagIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>QSFileTag</string>
			</array>
			<key>name</key>
			<string>Remove Tags…</string>
		</dict>
		<key>SetFileTags</key>
		<dict>
			<key>actionClass</key>
			<string>QSFinderAction</string>
			<key>actionSelector</key>
			<string>setToFiles:tagList:</string>
			<key>description</key>
			<string>Set Tags…</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TagIcon</string>
			<key>indirectOptional</key>
			<false/>
			<key>indirectTypes</key>
			<array>
				<string>QSFileTag</string>
				<string>NSStringPboardType</string>
			</array>
			<key>name</key>
			<string>Set Tags…</string>
		</dict>
		<key>ShowFileTags</key>
		<dict>
			<key>actionClass</key>
			<string>QSFinderAction</string>
			<key>actionSelector</key>
			<string>showTagsForFiles:</string>
			<key>description</key>
			<string>Show Tags</string>
			<key>directTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
			<key>icon</key>
			<string>TagIcon</string>
			<key>name</key>
			<string>Show Tags</string>
		</dict>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetFinderGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetSidebarItems</string>
					<key>icon</key>
					<string>FinderIcon</string>
					<key>name</key>
					<string>Finder Sidebar Items</string>
					<key>settings</key>
					<dict>
						<key>bundle</key>
						<string>com.apple.sidebarlists</string>
						<key>keypath</key>
						<array>
							<string>favorites</string>
							<string>VolumesList</string>
							<string>*</string>
							<string>Alias</string>
						</array>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>source</key>
					<string>QSDefaultsObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetFinderToolbarItems</string>
					<key>name</key>
					<string>Finder Toolbar Items</string>
					<key>settings</key>
					<dict>
						<key>bundle</key>
						<string>com.apple.finder</string>
						<key>keypath</key>
						<array>
							<string>NSToolbar Configuration Browser</string>
							<string>TB Item Plists</string>
							<string>*</string>
							<string>_CFURLAliasData</string>
						</array>
						<key>type</key>
						<integer>3</integer>
					</dict>
					<key>source</key>
					<string>QSDefaultsObjectSource</string>
				</dict>
				<dict>
					<key>ID</key>
					<string>QSPresetFileTags</string>
					<key>enabled</key>
					<true/>
					<key>icon</key>
					<string>TagIcon</string>
					<key>name</key>
					<string>File Tags</string>
					<key>source</key>
					<string>QSFileTagsSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>FinderIcon</string>
			<key>name</key>
			<string>Finder</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.finder</key>
			<string>QSFinderProxy</string>
		</dict>
		<key>QSFSBrowserMediators</key>
		<dict>
			<key>com.apple.finder</key>
			<string>QSFinderProxy</string>
		</dict>
		<key>QSInternalObjects</key>
		<dict>
			<key>QSTrashObject</key>
			<dict>
				<key>handler</key>
				<string>QSFinderProxy</string>
				<key>icon</key>
				<string>Trash</string>
				<key>name</key>
				<string>Trash</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>com.apple.finder</key>
			<dict>
				<key>icon</key>
				<string>FinderIcon</string>
				<key>name</key>
				<string>Finder Selection</string>
				<key>providerClass</key>
				<string>QSFinderProxy</string>
				<key>types</key>
				<array>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>Tagged Files</key>
			<string>QSTaggedFilesSource</string>
			<key>QSFileTagsSource</key>
			<string>QSFinderSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>QSFileTag</key>
			<string>QSFinderSource</string>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSFileTagged</key>
			<dict>
				<key>icon</key>
				<string>TagIcon</string>
				<key>name</key>
				<string>File Tagged</string>
				<key>provider</key>
				<string>QSFinderAction</string>
				<key>type</key>
				<string>Finder</string>
			</dict>
			<key>QSFileTagsCleared</key>
			<dict>
				<key>icon</key>
				<string>TagIcon</string>
				<key>name</key>
				<string>File Tags Cleared</string>
				<key>provider</key>
				<string>QSFinderAction</string>
				<key>type</key>
				<string>Finder</string>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Trash</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.dock</string>
			<key>resource</key>
			<string>trashempty.png</string>
		</dict>
		<key>TrashFull</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.dock</string>
			<key>resource</key>
			<string>trashfull.png</string>
		</dict>
		<key>TagIcon</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSFinderPlugIn</string>
			<key>resource</key>
			<string>Tag.png</string>
		</dict>
	</dict>
</dict>
</plist>
