<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Finder Plugin</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Finder Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>17A6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>description</key>
		<string>Alows the Finder to respond to Open/Reveal/Selection actions.</string>
		<key>hidden</key>
		<true/>
		<key>icon</key>
		<string>com.apple.finder</string>
		<key>requiresFeature</key>
		<string>0</string>
	</dict>
	<key>QSPresetAdditions</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetFinderGroup</string>
			<key>children</key>
			<array>
				<dict>
					<key>ID</key>
					<string>QSPresetSidebarItems</string>
					<key>icon</key>
					<string>FinderIcon</string>
					<key>name</key>
					<string>Finder Sidebar Items</string>
					<key>settings</key>
					<dict>
						<key>path</key>
						<string>~/Library/Application Support/com.apple.sharedfilelist/com.apple.LSSharedFileList.FavoriteItems.sfl</string>
					</dict>
					<key>source</key>
					<string>QSSharedFileListSource</string>
				</dict>
			</array>
			<key>icon</key>
			<string>FinderIcon</string>
			<key>name</key>
			<string>Finder</string>
			<key>source</key>
			<string>QSGroupObjectSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.finder</key>
			<string>QSFinderProxy</string>
		</dict>
		<key>QSFSBrowserMediators</key>
		<dict>
			<key>com.apple.finder</key>
			<string>QSFinderProxy</string>
		</dict>
		<key>QSInternalObjects</key>
		<dict>
			<key>QSTrashObject</key>
			<dict>
				<key>handler</key>
				<string>QSFinderProxy</string>
				<key>icon</key>
				<string>Trash</string>
				<key>name</key>
				<string>Trash</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>com.apple.finder</key>
			<dict>
				<key>icon</key>
				<string>FinderIcon</string>
				<key>name</key>
				<string>Finder Selection</string>
				<key>providerClass</key>
				<string>QSFinderProxy</string>
				<key>types</key>
				<array>
					<string>NSFilenamesPboardType</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Trash</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.dock</string>
			<key>resource</key>
			<string>trashempty.png</string>
		</dict>
		<key>TrashFull</key>
		<dict>
			<key>bundle</key>
			<string>com.apple.dock</string>
			<key>resource</key>
			<string>trashfull.png</string>
		</dict>
	</dict>
</dict>
</plist>
