<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Daedalus</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.Daedalus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Daedalus Module</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.0</string>
	<key>CFBundleVersion</key>
	<string>81</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2004, Blacktree, Inc.</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>description</key>
		<string>The effects of this module are - for the most part - unknown.</string>
		<key>hidden</key>
		<true/>
		<key>requiresFeature</key>
		<integer>0</integer>
		<key>webIcon</key>
		<string>image:Daedalus</string>
		<key>infoFile</key>
		<string>Info.rtf</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSDaedalusPrefPane</key>
			<string>QSDaedalusPrefPane</string>
		</dict>
	</dict>
</dict>
</plist>
