<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>category</key>
      <string>Aufgabenbetrachter</string>
      <key>default</key>
      <string>QSShowTaskViewerAutomatically</string>
      <key>title</key>
      <string>Aufgabenbetrachter automatisch anzeigen, sobald Aufgaben erstellt wurden</string>
      <key>type</key>
      <string>Checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Anwendung wechseln</string>
      <key>default</key>
      <string>Andere Anwendungen beim Umschalten ausblenden</string>
      <key>title</key>
      <string>Andere Anwendungen beim Wechseln ausblenden (durch Umschalttaste verhindern)</string>
      <key>type</key>
      <string>Checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Aufgaben</string>
      <key>default</key>
      <string>Multithreaded Execute</string>
      <key>title</key>
      <string>Aufgaben und Aktionen im Hintergrund laufen lassen</string>
      <key>type</key>
      <string>Checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Anwendung wechseln</string>
      <key>default</key>
      <string>QSActionAppReopenBehavior</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>Aktiviert die Anwendung</string>
        <key>1</key>
        <string>Zeigt das Frontfenster</string>
        <key>2</key>
        <string>Zeigt alle Fenster an</string>
      </dict>
      <key>pretext</key>
      <string>Eine Anwendung erneut öffnen</string>
      <key>subtext</key>
      <string>Erneutes Öffnen der aktuellen Anwendung zeigt alle Fenster</string>
      <key>title</key>
      <string>Anwendung erneut öffnen:</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Update</string>
      <key>default</key>
      <string>QSUpdateReleaseLevel</string>
      <key>image</key>
      <string>Quicksilver</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>Finale Versionen</string>
        <key>1</key>
        <string>Prerelease-Kandidaten</string>
        <key>2</key>
        <string>Entwickler-Vorschauen</string>
      </dict>
      <key>requestRelaunch</key>
      <true></true>
      <key>title</key>
      <string>Typ der Anwendungsaktualisierung</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Kommando</string>
      <key>default</key>
      <string>Aktionen wechseln</string>
      <key>title</key>
      <string>Allow capitalized keys to select the action</string>
      <key>type</key>
      <string>Checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Kommando</string>
      <key>default</key>
      <string>HotKeys in Kommando unterdrücken</string>
      <key>title</key>
      <string>Disable Trigger HotKeys when Quicksilver is focused</string>
      <key>type</key>
      <string>Checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Kommando</string>
      <key>default</key>
      <string>Doppel-ENTF löscht Objekt</string>
      <key>title</key>
      <string>Aktuelles Objekt durch doppeltes Drücken der ENTF-Taste löschen</string>
      <key>type</key>
      <string>Checkbox</string>
    </dict>
  </array>
</plist>
