<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>category</key>
      <string>Görev Görüntüleyici</string>
      <key>default</key>
      <string>QSShowTaskViewerAutomatically</string>
      <key>title</key>
      <string>Görev oluşturulduğu zaman Görev Görüntüleyiciyi özdevinimli olarak göster</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Uygulamalar Arası Gezinme</string>
      <key>default</key>
      <string>Hide Other Apps When Switching</string>
      <key>title</key>
      <string>Uygulamalar arasında gezinirken diğer uygulamaları gizle (yükseltme düğmesi engeller)</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Görevler</string>
      <key>default</key>
      <string>Multithreaded Execute</string>
      <key>title</key>
      <string>Görevleri ve eylemleri ardalanda çalıştır</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Uygulamalar Arası Gezinme</string>
      <key>default</key>
      <string>QSActionAppReopenBehavior</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>uygulamayı etkinleştirir</string>
        <key>1</key>
        <string>ilk pencereyi gösterir</string>
        <key>2</key>
        <string>bütün pencereleri gösterir</string>
      </dict>
      <key>pretext</key>
      <string>Uygulama yeniden açılıyor</string>
      <key>subtext</key>
      <string>Etkin uygulamayı yeniden açmak tüm pencereleri gösterir</string>
      <key>title</key>
      <string>Uygulama yeniden açılıyor:</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Güncelle</string>
      <key>default</key>
      <string>QSUpdateReleaseLevel</string>
      <key>image</key>
      <string>Quicksilver</string>
      <key>items</key>
      <dict>
        <key>0</key>
        <string>Son Sürümler</string>
        <key>1</key>
        <string>Sürüm Adayları</string>
        <key>2</key>
        <string>Geliştirici Sürümleri</string>
      </dict>
      <key>requestRelaunch</key>
      <true></true>
      <key>title</key>
      <string>Uygulama Güncelleme Türü</string>
      <key>type</key>
      <string>popupTag</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Komut</string>
      <key>default</key>
      <string>Shift Actions</string>
      <key>title</key>
      <string>Büyük harflerin eylemi seçmesine izin ver</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Komut</string>
      <key>default</key>
      <string>Suppress HotKeys in Command</string>
      <key>title</key>
      <string>Quicksilver önplanda iken Kısayol Düğmesi Tetikleyicileri etkisizleştir</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
    <dict>
      <key>category</key>
      <string>Komut</string>
      <key>default</key>
      <string>Double Delete Clears Object</string>
      <key>title</key>
      <string>Sil düğmesine iki kez basmak etkin nesneyi temizler</string>
      <key>type</key>
      <string>checkbox</string>
    </dict>
  </array>
</plist>
