ARCHS = ppc i386;
SDKROOTS = $(DEVELOPER_SDK_DIR)/MacOSX10.5.sdk;
MACOSX_DEPLOYMENT_TARGET = 10.5;

FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)

GCC_C_LANGUAGE_STANDARD = c99;
ZERO_LINK = NO;
WRAPPER_EXTENSION = element;
INFOPLIST_FILE = Info.plist;
COPY_PHASE_STRIP = NO;
GCC_PREFIX_HEADER = $(QSElementSourceDirectory)/Common/QSElement_Prefix.pch;
GCC_PRECOMPILE_PREFIX_HEADER = YES;
GCC_GENERATE_DEBUGGING_SYMBOLS = YES;
GCC_OPTIMIZATION_LEVEL = 0;
GCC_DYNAMIC_NO_PIC = NO;
GCC_ENABLE_FIX_AND_CONTINUE = YES;
INFOPLIST_PREPROCESS = YES;
OTHER_LDFLAGS = -bundle -framework QSBase -framework QSElements -undefined dynamic_lookup;
PRODUCT_NAME = $(TARGET_NAME);
GCC_WARN_ABOUT_RETURN_TYPE = YES;
GCC_WARN_UNUSED_VARIABLE = YES;