ARCHS = ppc i386
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET = 10.4

COPY_PHASE_STRIP = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_DYNAMIC_NO_PIC = NO
INFOPLIST_PREPROCESS = YES
PRODUCT_NAME = $(TARGET_NAME)
GCC_PREFIX_HEADER = $(QSElementSourceDirectory)/Common/QSPlugIn_Prefix.pch
FRAMEWORK_SEARCH_PATHS = $(QSFrameworks)
ZERO_LINK = NO
OTHER_LDFLAGS = -bundle -framework QSFoundation -framework QSEffects -framework QSCore -framework QSInterface -undefined dynamic_lookup
WRAPPER_EXTENSION = qsplugin
INFOPLIST_FILE = Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_ENABLE_FIX_AND_CONTINUE = NO
