<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QSActionProviders</key>
	<dict>
		<key>AppActions</key>
		<string>AppActions</string>
		<key>ClipboardActions</key>
		<string>ClipboardActions</string>
		<key>QSObjCMessageSource</key>
		<string>QSObjCMessageSource</string>
		<key>QSObjectActions</key>
		<string>QSObjectActions</string>
		<key>QSProcessActionProvider</key>
		<string>QSProcessActionProvider</string>
		<key>QSShelfSource</key>
		<string>QSShelfSource</string>
	</dict>
	<key>QSClasses</key>
	<dict>
		<key>QSGlobalSelectionProvider</key>
		<string>QSGlobalSelectionProvider</string>
		<key>QSLibrarian</key>
		<string>QSLibrarian</string>
		<key>QSPreferencesController</key>
		<string>QSPreferencesController</string>
		<key>QSRegistry</key>
		<string>QSRegistry</string>
	</dict>
	<key>QSInternalMessages</key>
	<dict>
		<key>QSCatalogShowMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSController</string>
			<key>actionSelector</key>
			<string>showCatalog:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>QS Catalog</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
		<key>QSCheckForUpdateMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSUpdateController</string>
			<key>actionSelector</key>
			<string>threadedRequestedCheckForUpdate:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>QS Check for Update</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
		<key>QSForceRescanCatalogMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSController</string>
			<key>actionSelector</key>
			<string>forceRescanItems:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>Force Catalog Rescan</string>
		</dict>
		<key>QSInterfaceShowMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSController</string>
			<key>actionSelector</key>
			<string>activateInterface:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>QS Command Window</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
		<key>QSInterfaceShowTransmogrifiedMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSController</string>
			<key>actionSelector</key>
			<string>activateInterfaceTransmogrified:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>QS Command Window with Text</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
		<key>QSPreferencesShowMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSPreferencesController</string>
			<key>actionSelector</key>
			<string>showPrefs</string>
			<key>classMethod</key>
			<true/>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>QS Preferences</string>
		</dict>
		<key>QSRescanCatalogMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSController</string>
			<key>actionSelector</key>
			<string>rescanItems:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>Catalog Rescan</string>
		</dict>
		<key>QSTriggersShowMessage</key>
		<dict>
			<key>actionClass</key>
			<string>QSController</string>
			<key>actionSelector</key>
			<string>showTriggers:</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>QS Triggers</string>
			<key>runInMainThread</key>
			<true/>
		</dict>
	</dict>
	<key>QSInternalURLHandlers</key>
	<dict>
		<key>catalog</key>
		<string>QSCatalogPrefPane</string>
		<key>install</key>
		<string>QSResourceManager</string>
		<key>plugins</key>
		<string>QSPlugInsPrefPane</string>
		<key>preferences</key>
		<string>QSPreferencesController</string>
		<key>triggers</key>
		<string>QSTriggersPrefPane</string>
		<key>update</key>
		<string>QSUpdateController</string>
	</dict>
	<key>QSNotifiers</key>
	<dict>
		<key>com.apple.Console</key>
		<string>QSConsoleNotifier</string>
		<key>com.blacktree.Quicksilver</key>
		<string>QSSilverNotifier</string>
		<key>com.apple.NotificationCenter</key>
		<string>QSNotificationCenterNotifier</string>
	</dict>
	<key>QSObjectHandlers</key>
	<dict>
		<key>qs.action</key>
		<string>QSActionHandler</string>
		<key>qs.command</key>
		<string>QSCommandObjectHandler</string>
		<key>qs.proxy</key>
		<string>QSProxyObjectHandler</string>
	</dict>
	<key>QSPasteboardTypeHandlers</key>
	<dict>
		<key>Apple URL pasteboard type</key>
		<string>QSURLObjectHandler</string>
		<key>NSFilenamesPboardType</key>
		<string>QSFileSystemObjectHandler</string>
		<key>NSStringPboardType</key>
		<string>QSStringObjectHandler</string>
	</dict>
	<key>QSPlugInInfoHandlers</key>
	<dict>
		<key>QSActions</key>
		<string>QSExecutor</string>
		<key>QSCommandAdditions</key>
		<string>QSCommandObjectHandler</string>
		<key>QSDefaults</key>
		<string>QSDefaultsManager</string>
		<key>QSLocalization</key>
		<string>QSResourceManager</string>
		<key>QSPresetAdditions</key>
		<string>QSLibrarian</string>
		<key>QSResourceAdditions</key>
		<string>QSResourceManager</string>
		<key>QSTriggerAdditions</key>
		<string>QSTriggerCenter</string>
	</dict>
	<key>QSPreferencePanes</key>
	<dict>
		<key>QSActionsPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSActionsPrefPane</string>
			<key>description</key>
			<string>Modify the list and ordering of actions</string>
			<key>icon</key>
			<string>defaultAction</string>
			<key>name</key>
			<string>Actions</string>
			<key>type</key>
			<string>Main</string>
			<key>priority</key>
			<integer>1</integer>
		</dict>
		<key>QSAdvancedPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSAdvancedPrefPane</string>
			<key>description</key>
			<string>The Kitchen Sink</string>
			<key>icon</key>
			<string>ToolbarCustomizeIcon</string>
			<key>name</key>
			<string>Extras</string>
			<key>type</key>
			<string>Main</string>
		</dict>
		<key>QSAppearancePrefPane</key>
		<dict>
			<key>class</key>
			<string>QSAppearancePrefPane</string>
			<key>description</key>
			<string>Color and visual settings</string>
			<key>icon</key>
			<string>appearanceIcon</string>
			<key>name</key>
			<string>Appearance</string>
			<key>type</key>
			<string>Main</string>
			<key>priority</key>
			<integer>4</integer>
		</dict>
		<key>QSApplicationPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSApplicationPrefPane</string>
			<key>description</key>
			<string>Launch, visibility, and update settings </string>
			<key>icon</key>
			<string>ToolbarAppsFolderIcon</string>
			<key>name</key>
			<string>Application</string>
			<key>priority</key>
			<integer>10</integer>
			<key>type</key>
			<string>Main</string>
		</dict>
		<key>QSCatalogPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSCatalogPrefPane</string>
			<key>color</key>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmgz8yZ2oBgz8urq8Bhg==</data>
			<key>description</key>
			<string>Modify the list of searchable items</string>
			<key>icon</key>
			<string>Pref-Catalog</string>
			<key>name</key>
			<string>Catalog</string>
			<key>type</key>
			<string>Toolbar</string>
		</dict>
		<key>QSHelpersPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSHelpersPrefPane</string>
			<key>description</key>
			<string>Choose the helpers for specific tasks</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>Handlers</string>
			<key>type</key>
			<string>Main</string>
		</dict>
		<key>QSMainMenuPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSMainMenuPrefPane</string>
			<key>description</key>
			<string>Welcome to Quicksilver</string>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>Guide</string>
			<key>type</key>
			<string>Toolbar</string>
		</dict>
		<key>QSPlugInsPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSPlugInsPrefPane</string>
			<key>color</key>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARmZmZmgz9XjNiDPzZRtoM/bRvtAYY=</data>
			<key>description</key>
			<string>Find and install plugins</string>
			<key>icon</key>
			<string>Pref-PlugIns</string>
			<key>name</key>
			<string>Plugins</string>
			<key>type</key>
			<string>Toolbar</string>
		</dict>
		<key>QSSearchPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSSearchPrefPane</string>
			<key>description</key>
			<string>Activation and Matching options</string>
			<key>icon</key>
			<string>Find</string>
			<key>name</key>
			<string>Command</string>
			<key>type</key>
			<string>Main</string>
			<key>priority</key>
			<integer>7</integer>
		</dict>
		<key>QSTriggersPrefPane</key>
		<dict>
			<key>class</key>
			<string>QSTriggersPrefPane</string>
			<key>color</key>
			<data>BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMChARmZmZmgz9+/v+DP17e34M/H5+gAYY=</data>
			<key>description</key>
			<string>Act on hot keys and other triggers</string>
			<key>icon</key>
			<string>Pref-Triggers</string>
			<key>name</key>
			<string>Triggers</string>
			<key>type</key>
			<string>Toolbar</string>
		</dict>
	</dict>
	<key>QSProxies</key>
	<dict>
		<key>QSComputerProxy</key>
		<dict>
			<key>icon</key>
			<string>NSComputer</string>
			<key>name</key>
			<string>Computer</string>
			<key>providerClass</key>
			<string>QSComputerProxyProvider</string>
			<key>types</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>qs.process</string>
			</array>
		</dict>
		<key>QSCurrentApplicationProxy</key>
		<dict>
			<key>icon</key>
			<string>ProxyIcon</string>
			<key>name</key>
			<string>Current Application</string>
			<key>providerClass</key>
			<string>QSProcessMonitor</string>
			<key>types</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>qs.process</string>
			</array>
		</dict>
		<key>QSDropletItemProxy</key>
		<dict>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>Droplet Item</string>
			<key>providerClass</key>
			<string>QSController</string>
			<key>types</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSURLPboardType</string>
			</array>
		</dict>
		<key>QSGlobalSelectionProxy</key>
		<dict>
			<key>icon</key>
			<string>Object</string>
			<key>name</key>
			<string>Current Selection</string>
			<key>providerClass</key>
			<string>QSGlobalSelectionProvider</string>
		</dict>
		<key>QSPreviousApplicationProxy</key>
		<dict>
			<key>icon</key>
			<string>ProxyIcon</string>
			<key>name</key>
			<string>Previous Application</string>
			<key>providerClass</key>
			<string>QSProcessMonitor</string>
			<key>types</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>qs.process</string>
			</array>
		</dict>
		<key>QSMostRecentDownloadProxy</key>
		<dict>
			<key>icon</key>
			<string>ProxyIcon</string>
			<key>name</key>
			<string>Latest Download</string>
			<key>providerClass</key>
			<string>QSDownloads</string>
			<key>types</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
	</dict>
	<key>QSRegistryHeaders</key>
	<dict>
		<key>QSStringRankers</key>
		<dict>
			<key>classTable</key>
			<true/>
			<key>defaultPermitted</key>
			<true/>
			<key>name</key>
			<string>String Ranker</string>
			<key>requiresRelaunch</key>
			<false/>
			<key>type</key>
			<string>mediator</string>
		</dict>
		<key>QSUnidentifiedObjectSelector</key>
		<dict>
			<key>classTable</key>
			<true/>
			<key>name</key>
			<string>Missing Object Selector</string>
			<key>type</key>
			<string>mediator</string>
		</dict>
	</dict>
	<key>QSStringRankers</key>
	<dict>
		<key>QSDefaultStringRanker</key>
		<string>QSDefaultStringRanker</string>
	</dict>
	<key>QSTriggerManagers</key>
	<dict>
		<key>QSGroupTrigger</key>
		<string>QSGroupTriggerManager</string>
	</dict>
	<key>QSTriggerSets</key>
	<dict>
		<key>com.blacktree.Quicksilver</key>
		<dict>
			<key>icon</key>
			<string>Quicksilver</string>
			<key>name</key>
			<string>Quicksilver</string>
		</dict>
	</dict>
	<key>QSUnidentifiedObjectSelector</key>
	<dict>
		<key>QSCommandWindowObjectSelector</key>
		<string>QSController</string>
	</dict>
</dict>
</plist>
