<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QSReleaseStatus</key>
	<integer>0</integer>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2008 Blacktree, Inc.</string>
	<key>LSHasLocalizedDisplayName</key>
	<integer>1</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleVersion</key>
	<string>${QS_BUNDLE_VERSION}</string>
	<key>NSPrincipalClass</key>
	<string>QSApp</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>silver</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeName</key>
			<string>Quicksilver Archive</string>
			<key>CFBundleTypeIconFile</key>
			<string>silver</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qsshelf</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeName</key>
			<string>Quicksilver Shelf</string>
			<key>CFBundleTypeIconFile</key>
			<string>qsshelf</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
				<string>fold</string>
				<string>disk</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeName</key>
			<string>Everything</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qsplugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>Quicksilver Plugin</string>
			<key>CFBundleTypeIconFile</key>
			<string>QSPlugIn</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qscatalogentry</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeName</key>
			<string>Quicksilver Catalog Entries</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qspkg</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeName</key>
			<string>Quicksilver Package</string>
			<key>CFBundleTypeIconFile</key>
			<string>qspkg</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qscommand</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
			<key>CFBundleTypeName</key>
			<string>Quicksilver Command</string>
			<key>CFBundleTypeIconFile</key>
			<string>qscommand</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>Quicksilver</string>
	<key>CFBundleShortVersionString</key>
	<string>${QS_INFO_VERSION}</string>
	<key>CFBundleHelpBookName</key>
	<string>Quicksilver Help</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleHelpBookFolder</key>
	<string>QSHelp</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Quicksilver Installation URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qsinstall</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>HTTP-POST Quicksilver Query</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qssp-http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>HTTP-GET Quicksilver Query</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qss-http</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Quicksilver</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver</string>
	<key>CFBundleSignature</key>
	<string>daed</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bom-compressed-cpio</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>QSPkg.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.blacktree.qspkg</string>
			<key>UTTypeDescription</key>
			<string>Quicksilver PKG</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qspkg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
			</array>
			<key>UTTypeIconFile</key>
			<string>QSPlugIn.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.blacktree.qsplugin</string>
			<key>UTTypeDescription</key>
			<string>Quicksilver Plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qsplugin</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Get Current Selection (Do Not Change Shortcut)</string>
			</dict>
			<key>NSRequiredContext</key>
			<dict/>
			<key>NSSendFileTypes</key>
			<array>
				<string>public.data</string>	
			</array>					
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
				<string>NSFileContentsPboardType</string>
				<string>NSFontPboardType</string>
				<string>NSColorPboardType</string>
				<string>NSHTMLPboardType</string>
				<string>NSPDFPboardType</string>
				<string>NSPICTPboardType</string>
				<string>NSPostScriptPboardType</string>
				<string>NSRulerPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
				<string>NSStringPboardType</string>
				<string>NSTabularTextPboardType</string>
				<string>NSTIFFPboardType</string>
				<string>NSURLPboardType</string>
				<string>NSVCardPboardType</string>
				<string>NSFilesPromisePboardType</string>
			</array>
			<key>NSPortName</key>
			<string>Quicksilver</string>
			<key>NSTimeout</key>
			<string>10000</string>
			<key>NSUserData</key>
			<string>GetSelection</string>
			<key>NSMessage</key>
			<string>getSelection</string>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
