ARCHS = ppc i386
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
MACOSX_DEPLOYMENT_TARGET = 10.4

ZERO_LINK = NO
OTHER_LDFLAGS = -bundle
WRAPPER_EXTENSION = element
INFOPLIST_FILE = Info.plist
COPY_PHASE_STRIP = NO
GCC_PREFIX_HEADER = ../Common/QSElement_Prefix.pch
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = YES
BUILD_DIR = $(SYMROOT)/Embedded/PlugIns